:root {
--color-primary: #2C2C2C;
--color-neutral:E3E3E3;
--color-subtle: #FFFFF 0%;
--color-background: #FFFFF;
--color-primary-text: #0000;
--color-secondary-text: #757575;
--color-accent:#5B4FCF;
--Text-Brand-On-Brand: #5B4FCF;
--Border-Brand-Default: #5B4FCF;
--Border-Neutral-Secondary: #5B4FCF;

/*

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */

    --cds-semantic-typography-body-link-font-family: AkkuratStd;
    --cds-semantic-typography-body-link-font-size-lg: 1.125rem;
    --cds-semantic-typography-body-link-font-size-md: 1rem;
    --cds-semantic-typography-body-link-font-size-sm: 0.875rem;
    --cds-semantic-typography-body-link-font-weight-bold: 600;
    --cds-semantic-typography-body-link-font-weight-regular: 400;
    --cds-semantic-typography-body-link-letter-spacing: 0px;
    --cds-semantic-typography-body-link-line-height-lg: 1.4625rem;
    --cds-semantic-typography-body-link-line-height-md: 1.3rem;
    --cds-semantic-typography-body-link-line-height-sm: 1.1375rem;
    --cds-semantic-typography-body-font-family: AkkuratStd;
    --cds-semantic-typography-body-font-size-lg: 1.125rem;
    --cds-semantic-typography-body-font-size-md: 1rem;
    --cds-semantic-typography-body-font-size-sm: 0.875rem;
    --cds-semantic-typography-body-font-weight-bold: 600;
    --cds-semantic-typography-body-font-weight-regular: 400;
    --cds-semantic-typography-body-letter-spacing: 0px;
    --cds-semantic-typography-body-line-height-lg: 1.4625rem;
    --cds-semantic-typography-body-line-height-md: 1.3rem;
    --cds-semantic-typography-body-line-height-sm: 1.1375rem;
    --cds-semantic-typography-display-font-family: Coop New;
    --cds-semantic-typography-display-font-size-lg: 3rem;
    --cds-semantic-typography-display-font-size-md: 2rem;
    --cds-semantic-typography-display-font-size-sm: 1.5rem;
    --cds-semantic-typography-display-font-size-xlg: 3.75rem;
    --cds-semantic-typography-display-font-weight-black: 800;
    --cds-semantic-typography-display-font-weight-bold: 600;
    --cds-semantic-typography-display-font-weight-regular: 400;
    --cds-semantic-typography-display-letter-spacing: 0px;
    --cds-semantic-typography-display-line-height-lg: 3rem;
    --cds-semantic-typography-display-line-height-md: 2rem;
    --cds-semantic-typography-display-line-height-sm: 1.5rem;
    --cds-semantic-typography-display-line-height-xlg: 3.75rem;
    --cds-semantic-typography-header-font-family: AkkuratStd;
    --cds-semantic-typography-header-font-size-lg: 1.5rem;
    --cds-semantic-typography-header-font-size-md: 1.125rem;
    --cds-semantic-typography-header-font-size-sm: 1rem;
    --cds-semantic-typography-header-font-weight-bold: 600;
    --cds-semantic-typography-header-font-weight-regular: 400;
    --cds-semantic-typography-header-letter-spacing: 0px;
    --cds-semantic-typography-header-line-height-lg: 1.8rem;
    --cds-semantic-typography-header-line-height-md: 1.35rem;
    --cds-semantic-typography-header-line-height-sm: 1.2rem;
    --cds-semantic-typography-intro-font-family: AkkuratStd;
    --cds-semantic-typography-intro-font-size-lg: 1.5rem;
    --cds-semantic-typography-intro-font-size-md: 1.25rem;
    --cds-semantic-typography-intro-font-size-sm: 1.125rem;
    --cds-semantic-typography-intro-font-weight-regular: 400;
    --cds-semantic-typography-intro-letter-spacing: 0px;
    --cds-semantic-typography-intro-line-height-lg: 1.95rem;
    --cds-semantic-typography-intro-line-height-md: 1.625rem;
    --cds-semantic-typography-intro-line-height-sm: 1.4625rem;
    --cds-semantic-typography-pricing-font-family: Coop New;
    --cds-semantic-typography-pricing-font-size-2xlg: 3.75rem;
    --cds-semantic-typography-pricing-font-size-lg: 2rem;
    --cds-semantic-typography-pricing-font-size-md: 1.25rem;
    --cds-semantic-typography-pricing-font-size-sm: 1rem;
    --cds-semantic-typography-pricing-font-size-xlg: 3rem;
    --cds-semantic-typography-pricing-font-size-xsm: 0.875rem;
    --cds-semantic-typography-pricing-font-weight-bold: 800;
    --cds-semantic-typography-pricing-letter-spacing: 0px;
    --cds-semantic-typography-pricing-line-height-2xlg: 3.75rem;
    --cds-semantic-typography-pricing-line-height-lg: 2rem;
    --cds-semantic-typography-pricing-line-height-md: 1.25rem;
    --cds-semantic-typography-pricing-line-height-sm: 1rem;
    --cds-semantic-typography-pricing-line-height-xlg: 3rem;
    --cds-semantic-typography-pricing-line-height-xsm: 0.875rem;
    --cds-border-radius-2xsm: 4px;
    --cds-border-radius-full: 9999999px;
    --cds-border-radius-lg: 24px;
    --cds-border-radius-md: 16px;
    --cds-border-radius-none: 0px;
    --cds-border-radius-sm: 12px;
    --cds-border-radius-xlg: 40px;
    --cds-border-radius-xsm: 8px;
    --cds-border-width-default: 1px;
    --cds-border-width-divider: 1px;
    --cds-border-width-focus: 2px;
    --cds-border-width-strong: 2px;
    --cds-sizing-2xlg: 64px;
    --cds-sizing-2xsm: 16px;
    --cds-sizing-3xlg: 72px;
    --cds-sizing-3xsm: 8px;
    --cds-sizing-4xlg: 80px;
    --cds-sizing-lg: 48px;
    --cds-sizing-md: 40px;
    --cds-sizing-sm: 32px;
    --cds-sizing-xlg: 56px;
    --cds-sizing-xsm: 24px;
    --cds-spacing-2xlg: 48px;
    --cds-spacing-2xsm: 4px;
    --cds-spacing-3xlg: 56px;
    --cds-spacing-3xsm: 2px;
    --cds-spacing-4xlg: 64px;
    --cds-spacing-lg: 24px;
    --cds-spacing-md: 16px;
    --cds-spacing-none: 0px;
    --cds-spacing-sm: 12px;
    --cds-spacing-xlg: 40px;
    --cds-spacing-xsm: 8px;
    --cds-utility-touch-target-min: 24px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
